<!DOCTYPE html>
<html lang="en">

<head>
	<title>Precision Agriculture</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	{% include 'personal/js.html' %}
	{% include 'personal/bootstrap_defaults.html' %}
	{% include 'personal/css.html' %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
	
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{%static 'personal/img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'personal/img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'personal/img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'personal/img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'personal/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'personal/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Slider
    ================================================== -->
<link href="{% static 'personal/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'personal/css/owl.theme.css' %} " rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{% static 'personal/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'personal/css/nivo-lightbox/nivo-lightbox.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'personal/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<nav id="menu" class="navbar navbar-default navbar-fixed-top" style = "background:transparent">

  <div class="container">	
	<div class="navbar-inner">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		<a class="navbar-brand page-scroll" href="#page-top" style = "font-size: 23px; position:absolute">Precision Agriculture</a> </div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	  <li class="page-scroll"><a href="#">Home</a></li>
	  <li><a href="#about" class = "Page-scroll">About</a></li>
	  <li><a href="#graphs" class="page-scroll">Graphs</a></li>
	  <li><a href="#contact" class="page-scroll">Contact</a></li>
	</ul>
	</div>
  </div>

</nav> <!--navigation bar -->
<!-- Header -->		
<header id="header">
	  <div class="intro" style = "height:100%">
		<div class="overlay">
		  <div class="container">
			<div class="row">
			  <div class="col-md-8 col-md-offset-2 intro-text">
				<h1>Precision Agriculture</h1>
				<p>Here comes the introduction</p>
				<a href="#about" class="btn btn-custom btn-lg page-scroll">More Info</a> </div>
			</div>
		  </div>
		</div>
	  </div>
</header>

<!-- About Section -->
<div id="about">
  <div class="container" style = "height:650px ; width: 90%">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
           <h2>About <span>Precision Agriculture</span></h2>
          <hr>
          <p>Something</p>
          <a href="#graphs" class="btn btn-custom btn-lg page-scroll">View data and graphs</a> </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media"> <img src="{% static 'personal/img/about-1.jpg' %}" alt="" style = 'height:100px; width:150px' > </div>
        <div class="about-desc">
          <h3>Components</h3>
          <p>Details about something</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <img src="{%static 'personal/img/about-2.jpg' %}" alt="" style = 'height:100px; width:150px' > </div>
        <div class="about-desc">
          <h3>Components2</h3>
          <p>Details about components</p>
        </div>
      </div>
    </div>
  </div>


<div id="graphs" class "text-center">
  <div class="container" >
    <div class="section-title text-center">

      <h1>Data</h1>
      <hr>
      <p>Plotted data over the period of time</p>
    </div>
    <div class="row" style = "height:1400px; width:100%">
      <div class="col-md-6 ">
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>

      </div>
     
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Contact Us</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="col-md-10 col-md-offset-1 contact-info">
      <div class="col-md-4">
        <h3>Address</h3>
        <hr>
        <div class="contact-item">
          <p>4321 California St,</p>
          <p>San Francisco, CA 12345</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Working Hours</h3>
        <hr>
        <div class="contact-item">
          <p>Monday-Saturday: 07:00 - 18:00</p>
          <p>Sunday: CLOSED</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <hr>
        <div class="contact-item">
          <p>Phone: +1 123 456 1234</p>
          <p>Email: info@company.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave us a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>



<script type="text/javascript" src="{%static 'personal/js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/SmoothScroll.js'%} "></script> 
<script type="text/javascript" src="{% static 'personal/js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/owl.carousel.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/contact_me.js' %}"></script> 
<script type="text/javascript" src="{% static 'personal/js/main.js' %}"></script>
</body>

</html>